.git/
tests/
notebooks/
wandb_logs/
lightning_logs/
outputs/
artifacts/
flake.nix
flake.lock
prek.toml
*.md
!README.md
*.log
.github/
.claude/
.venv/
.envrc
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.rbyte_cache*
__pycache__/
*.pyc
