if [[ "$(uname -s)" == Darwin ]]; then
  dev_shell=.#default
elif [[ -e /etc/NIXOS ]]; then
  dev_shell=.#nixos
else
  dev_shell=.#ubuntu
fi

if command -v nom >/dev/null 2>&1; then
  use flake "$dev_shell" --log-format internal-json 2> >(nom --json)
else
  use flake "$dev_shell"
fi
