# @package _global_
---
defaults:
  - /model: yaak/control_transformer/finetuned
  - /datamodule: yaak/predict
  - /paths: yaak/default
  - /loggers/yaak/rerun/prediction_policy@rerun_logger
  - _self_

rerun_logger: ???

trainer:
  _target_: pytorch_lightning.Trainer
  _convert_: all
  accelerator: gpu
  devices: 1
  benchmark: true
  precision: "bf16-mixed"
  logger: false
  callbacks:
    - _target_: rmind.callbacks.DataFramePredictionWriter
      write_interval: batch
      path: predictions/${model.artifact}/${now:%Y-%m-%d--%H-%M-%S}/{batch_idx:06}.parquet
      select:
        - [batch, data, meta/ImageMetadata.cam_front_left/time_stamp]
        - [batch, data, meta/ImageMetadata.cam_front_left/frame_idx]
        - [batch, meta, input_id]
        - [policy, ground_truth]
        - [policy, prediction_value]
        - [policy, prediction_std]
        - [policy, prediction_probs]
        - [policy, score_l1]
        - [policy, score_logprob]
      writer:
        _target_: polars.DataFrame.write_parquet
        _partial_: true
    - _target_: pytorch_lightning.callbacks.ModelSummary
      max_depth: 5
