_target_: pytorch_lightning.Trainer
_convert_: all
accelerator: gpu
devices: 1
benchmark: true
precision: "bf16-mixed"
max_epochs: 10
log_every_n_steps: 100
gradient_clip_val: 1.0
check_val_every_n_epoch: 1
enable_model_summary: false
logger:
  _target_: pytorch_lightning.loggers.WandbLogger
  log_model: all
callbacks:
  - _target_: pytorch_lightning.callbacks.TQDMProgressBar
  - _target_: rmind.callbacks.LogitBiasSetter
  - _target_: pytorch_lightning.callbacks.ModelSummary
    max_depth: 5
  - _target_: pytorch_lightning.callbacks.ModelCheckpoint
    every_n_epochs: 1
    save_on_train_epoch_end: True
  - _target_: pytorch_lightning.callbacks.LearningRateMonitor
    logging_interval: step
  - _target_: rmind.callbacks.WandbImageParamLogger
    when: on_train_batch_end
    every_n_batch: 100
    key: similarity
    select:
      - [episode_builder, embeddings, continuous]
      - [episode_builder, embeddings, discrete]
      - [episode_builder, position_encoding, context]
      - [episode_builder, position_encoding, timestep]
    apply:
      _target_: torchmetrics.functional.pairwise_cosine_similarity
      _partial_: true
  - _target_: rmind.callbacks.WandbWaypointsLogger
    when: on_validation_batch_end
    every_n_batch: 100
    key: waypoints
    crs: "EPSG:25832"
    data:
      image: [data, cam_front_left, 0, -1]
      waypoints_xy_normalized: [data, waypoints/xy_normalized, 0, -1]
      waypoints_xy: [data, waypoints/xy, 0, -1]
      ego_xy: [data, meta/Gnss/xy, 0, -1]
    caption:
      input_id: [meta, input_id, 0]
      time_stamp: [data, meta/ImageMetadata.cam_front_left/time_stamp, 0, -1]
      frame_idx: [data, meta/ImageMetadata.cam_front_left/frame_idx, 0, -1]
  - _target_: rmind.callbacks.WandbPatchSimilarityLogger
    when: on_train_batch_end
    every_n_batch: 10
    key: patch_similarities
    data:
      cam_front_left: [image, cam_front_left, 0, -1]
    patch_coords: random
    patch_grid_size: 16
