_target_: pytorch_lightning.Trainer
_convert_: all
accelerator: gpu
devices: 1
benchmark: true
precision: "bf16-mixed"
max_epochs: 10
log_every_n_steps: 100
gradient_clip_val: 1.0
check_val_every_n_epoch: 1
enable_model_summary: false
logger:
  _target_: pytorch_lightning.loggers.WandbLogger
  log_model: all
