#@yaml/text-templated-strings
#
#@ cameras = [
#@     'cam_front_left'
#@ ]
---
_target_: rbyte.viz.loggers.RerunLogger
_convert_: all
_recursive_: false
application_id: prediction_pretrain
recording_name: [batch, meta, input_id]
schema:
  #@ for camera in cameras:
  batch/(@=camera@)/time_stamp:
    _target_: rerun.TimeColumn
    timestamp: [batch, data, meta/ImageMetadata.(@=camera@)/time_stamp]
    dtype: datetime64[us]

  batch/(@=camera@)/frame_idx:
    _target_: rerun.TimeColumn
    sequence: [batch, data, meta/ImageMetadata.(@=camera@)/frame_idx]

  batch/(@=camera@):
    - _target_: rerun.Image.columns
      buffer: [batch, data, (@=camera@)]

    - static: true
      _target_: rerun.Image.from_fields
      format:
        _target_: rerun.components.ImageFormat
        height: 324
        width: 576
        color_model: RGB
        channel_datatype: u8
  #@ end

  #@ for key in [
  #@     "meta/VehicleMotion/brake_pedal_normalized",
  #@     "meta/VehicleMotion/gas_pedal_normalized",
  #@     "meta/VehicleMotion/steering_angle_normalized",
  #@     "meta/VehicleState/turn_signal",
  #@ ]:
  batch/(@=key@):
    - _target_: rerun.Scalars.columns
      scalars: [batch, data, (@=key@)]

    - static: true
      _target_: rerun.SeriesLines
  #@ end

  #@ predictions = {
  #@     "forward_dynamics": {
  #@         k: {"continuous": ["speed"]}
  #@         for k in ["ground_truth", "prediction_value", "score_l1", "score_logprob"]
  #@     },
  #@     "inverse_dynamics": {
  #@         k: {"continuous": ["gas_pedal", "brake_pedal", "steering_angle"]}
  #@         for k in ["ground_truth" ,"prediction_value", "score_l1", "score_logprob"]
  #@     },
  #@     "memory_extraction": {
  #@         k: {"continuous": ["gas_pedal_diff", "brake_pedal_diff", "steering_angle_diff"]}
  #@         for k in ["ground_truth", "prediction_value"]
  #@     },
  #@ }
  #@ for key_objective, data_objective in predictions.items():
  #@  for key_prediction, data_prediction in data_objective.items():
  #@    for modality, keys in data_prediction.items():
  #@      for key in keys:
  (@=key_objective@)/(@=key_prediction@)/(@=modality@)/(@=key@):
    - _target_: rerun.Scalars.columns
      scalars: [(@=key_objective@), (@=key_prediction@), value, (@=modality@), (@=key@)]
      indices: [(@=key_objective@), (@=key_prediction@), timestep_indices]

    - static: true
      _target_: rerun.SeriesLines
      names: (@=key_prediction@)/(@=key@)
  #@      end
  #@    end
  #@  end
  #@ end
