_target_: rmind.models.control_transformer.ControlTransformer.load_from_wandb_artifact
artifact: ???
filename: model.ckpt
hparams_updaters:
  # 1. wrap hparams in DictConfig
  - _target_: omegaconf.DictConfig
    _partial_: true
  # 2. delete unnecessary keys
  - _target_: funcy.del_in
    _partial_: true
    path: ["objectives", "inverse_dynamics", "losses"]
  - _target_: funcy.del_in
    _partial_: true
    path: ["objectives", "forward_dynamics", "losses"]
  - _target_: funcy.del_in
    _partial_: true
    path: ["objectives", "memory_extraction", "losses"]
