---
_target_: rmind.models.control_transformer.ControlTransformer
_recursive_: false
_convert_: all

episode_builder:
  _target_: rmind.components.episode.EpisodeBuilder
  _recursive_: true
  _convert_: all
  timestep:
    - [observation, image, cam_front_left]
    - [observation, continuous, speed]
    - [observation, context, waypoints]
    - [special, foresight, cam_front_left]
    - [special, summary, observation_summary]
    - [special, summary, observation_history]
    - [action, continuous, gas_pedal]
    - [action, continuous, brake_pedal]
    - [action, continuous, steering_angle]
    - [action, discrete, turn_signal]
    - [special, summary, action_summary]

  special_tokens:
    foresight:
      cam_front_left:
        _target_: builtins.range
        _args_:
          - 64

    summary:
      observation_summary: [0]
      observation_history: [1]
      action_summary: [2]

    utility:
      mask: [0]

  # TODO: need image normalization and/or resizing?
  input_transform:
    _target_: torch.nn.Sequential
    _convert_: all
    _args_:
      - _target_: rmind.components.nn.Remapper
        paths:
          image:
            cam_front_left: [data, cam_front_left]

          continuous:
            speed: [data, meta/VehicleMotion/speed]
            gas_pedal: [data, meta/VehicleMotion/gas_pedal_normalized]
            gas_pedal_diff: [data, meta/VehicleMotion/gas_pedal_normalized]
            brake_pedal: [data, meta/VehicleMotion/brake_pedal_normalized]
            brake_pedal_diff: [data, meta/VehicleMotion/brake_pedal_normalized]
            steering_angle: [data, meta/VehicleMotion/steering_angle_normalized]
            steering_angle_diff: [data, meta/VehicleMotion/steering_angle_normalized]

          context:
            waypoints: [data, waypoints/xy_normalized]

          discrete:
            turn_signal: [data, meta/VehicleState/turn_signal]

      - _target_: rmind.components.containers.ModuleDict
        modules:
          image:
            _target_: torch.nn.Sequential
            _args_:
              - _target_: torchvision.transforms.v2.CenterCrop
                size: [320, 576]
              - _target_: torchvision.transforms.v2.Resize
                size: [256, 256]
              - _target_: torchvision.transforms.v2.ToDtype
                scale: true
                dtype:
                  _target_: hydra.utils.get_object
                  path: torch.float32
              - _target_: torchvision.transforms.v2.Normalize
                mean: [0.485, 0.456, 0.406]
                std: [0.229, 0.224, 0.225]

          continuous:
            speed:
              _target_: rmind.components.nn.AtLeast3D

            gas_pedal:
              _target_: rmind.components.nn.AtLeast3D

            gas_pedal_diff:
              _target_: rmind.components.nn.DiffLast
              append:
                _target_: hydra.utils.get_object
                path: math.nan

            brake_pedal:
              _target_: rmind.components.nn.AtLeast3D

            brake_pedal_diff:
              _target_: rmind.components.nn.DiffLast
              append:
                _target_: hydra.utils.get_object
                path: math.nan

            steering_angle:
              _target_: rmind.components.nn.AtLeast3D

            steering_angle_diff:
              _target_: rmind.components.nn.DiffLast
              append:
                _target_: hydra.utils.get_object
                path: math.nan

          discrete:
            turn_signal:
              _target_: rmind.components.nn.AtLeast3D

          context:
            waypoints:
              _target_: torch.nn.Identity

  tokenizers:
    _target_: rmind.components.containers.ModuleDict
    modules:
      image:
        _target_: rmind.components.nn.Identity

      continuous:
        speed:
          _target_: rmind.components.norm.UniformBinner
          range: [0.0, 130.0]
          bins: ${speed_bins}

        gas_pedal:
          _target_: rmind.components.norm.UniformBinner
          range: [0.0, 1.0]
          bins: ${gas_pedal_bins}

        gas_pedal_diff:
          _target_: rmind.components.norm.MuLawEncoding
          quantization_channels: ${gas_pedal_bins}

        brake_pedal:
          _target_: rmind.components.norm.UniformBinner
          range: [0.0, 1.0]
          bins: ${brake_pedal_bins}

        brake_pedal_diff:
          _target_: rmind.components.norm.MuLawEncoding
          quantization_channels: ${brake_pedal_bins}

        steering_angle:
          _target_: rmind.components.norm.UniformBinner
          range: [-1.0, 1.0]
          bins: ${steering_angle_bins}

        steering_angle_diff:
          _target_: rmind.components.nn.Sequential
          _args_:
            - _target_: rmind.components.norm.Scaler
              in_range: [-2.0, 2.0]
              out_range: [-1.0, 1.0]
            - _target_: rmind.components.norm.MuLawEncoding
              quantization_channels: ${steering_angle_bins}

      discrete:
        _target_: rmind.components.nn.Identity

      context:
        waypoints:
          _target_: rmind.components.nn.Identity

  embeddings:
    _target_: rmind.components.containers.ModuleDict
    modules:
      image:
        _target_: torch.nn.Sequential
        _args_:
          - _target_: rmind.components.timm_backbone.TimmBackbone
            model_name: vit_small_patch16_dinov3.lvd1689m
            freeze: True
            out_indices: [10]
            img_size: [256, 256]
          - _target_: einops.layers.torch.Rearrange
            pattern: "... c h w -> ... (h w) c"

      continuous:
        speed:
          _target_: rmind.components.nn.Embedding
          num_embeddings: ${speed_bins}
          embedding_dim: ${encoder_embedding_dim}
        gas_pedal:
          _target_: rmind.components.nn.Embedding
          num_embeddings: ${gas_pedal_bins}
          embedding_dim: ${encoder_embedding_dim}
        gas_pedal_diff: null
        brake_pedal:
          _target_: rmind.components.nn.Embedding
          num_embeddings: ${brake_pedal_bins}
          embedding_dim: ${encoder_embedding_dim}
        brake_pedal_diff: null
        steering_angle:
          _target_: rmind.components.nn.Embedding
          num_embeddings: ${steering_angle_bins}
          embedding_dim: ${encoder_embedding_dim}
        steering_angle_diff: null

      context:
        waypoints:
          _target_: rmind.components.nn.Linear
          in_features: 2
          out_features: ${encoder_embedding_dim}

      discrete:
        turn_signal:
          _target_: rmind.components.nn.Embedding
          num_embeddings: 3
          embedding_dim: ${encoder_embedding_dim}

      foresight:
          _target_: rmind.components.nn.Embedding
          num_embeddings: 64
          embedding_dim: ${encoder_embedding_dim}

      summary:
        _target_: rmind.components.nn.Embedding
        num_embeddings: 3
        embedding_dim: ${encoder_embedding_dim}

      utility:
        _target_: rmind.components.nn.Embedding
        num_embeddings: 1
        embedding_dim: ${encoder_embedding_dim}

  projections:
    _target_: rmind.components.containers.ModuleDict
    modules:
      image:
        _target_: torch.nn.Sequential
        _args_:
          - _target_: torch.nn.LayerNorm
            normalized_shape: ${image_embedding_dim}
          - _target_: rmind.components.norm.ScaleByVectorDimensionality
            dim: ${image_embedding_dim}
          - _target_: rmind.components.nn.Linear
            in_features: ${image_embedding_dim}
            out_features: ${encoder_embedding_dim}

      continuous:
        speed:
          _target_: rmind.components.nn.Linear
          in_features: ${encoder_embedding_dim}
          out_features: ${encoder_embedding_dim}
        gas_pedal:
          _target_: rmind.components.nn.Linear
          in_features: ${encoder_embedding_dim}
          out_features: ${encoder_embedding_dim}
        gas_pedal_diff: null
        brake_pedal:
          _target_: rmind.components.nn.Linear
          in_features: ${encoder_embedding_dim}
          out_features: ${encoder_embedding_dim}
        brake_pedal_diff: null
        steering_angle:
          _target_: rmind.components.nn.Linear
          in_features: ${encoder_embedding_dim}
          out_features: ${encoder_embedding_dim}
        steering_angle_diff: null

      context:
        waypoints:
          _target_: rmind.components.nn.Linear
          in_features: ${encoder_embedding_dim}
          out_features: ${encoder_embedding_dim}

      discrete:
        turn_signal:
          _target_: rmind.components.nn.Linear
          in_features: ${encoder_embedding_dim}
          out_features: ${encoder_embedding_dim}

      foresight:
        _target_: rmind.components.nn.Linear
        in_features: ${encoder_embedding_dim}
        out_features: ${encoder_embedding_dim}

      summary:
        _target_: rmind.components.nn.Linear
        in_features: ${encoder_embedding_dim}
        out_features: ${encoder_embedding_dim}

      utility:
        _target_: rmind.components.nn.Linear
        in_features: ${encoder_embedding_dim}
        out_features: ${encoder_embedding_dim}

  position_encoding:
    _target_: rmind.components.containers.ModuleDict
    modules:
      context:
        waypoints:
          _target_: rmind.components.nn.Embedding
          num_embeddings: 10
          embedding_dim: ${encoder_embedding_dim}

      actions:
        _target_: rmind.components.nn.Embedding
        num_embeddings: 1
        embedding_dim: ${encoder_embedding_dim}

      special:
        _target_: rmind.components.nn.Embedding
        num_embeddings: 1
        embedding_dim: ${encoder_embedding_dim}

      timestep:
        _target_: rmind.components.nn.Embedding
        num_embeddings: 24
        embedding_dim: ${encoder_embedding_dim}

      observations: null

encoder:
  _target_: rmind.components.llm.TransformerEncoder
  dim_model: ${encoder_embedding_dim}
  num_layers: ${num_layers}
  num_heads: ${num_heads}
  attn_dropout: 0.1
  resid_dropout: 0.1
  mlp_dropout: 0.1
  hidden_layer_multiplier: 1
  emb_norm:
    _target_: torch.nn.LayerNorm
    normalized_shape: ${encoder_embedding_dim}

objectives:
  _target_: rmind.components.containers.ModuleDict
  _convert_: all
  modules:
    policy:
      _target_: rmind.components.objectives.PolicyObjective
      heads:
        _target_: rmind.components.containers.ModuleDict
        modules:
          continuous:
            gas_pedal:
              _target_: torchvision.ops.MLP
              in_channels: 1152
              hidden_channels: [384, 2]
              bias: False
            brake_pedal:
              _target_: torchvision.ops.MLP
              in_channels: 1152
              hidden_channels: [384, 2]
              bias: False
            steering_angle:
              _target_: torchvision.ops.MLP
              in_channels: 1152
              hidden_channels: [384, 2]
              bias: False
          discrete:
            turn_signal:
              _target_: torchvision.ops.MLP
              in_channels: 1152
              hidden_channels: [384, 3]
              bias: False
