# @package _global_

---
defaults:
  - /model: yaak/control_transformer/raw_export
  - /input: yaak/control_transformer/dummy
  - _self_

embedding_dim: 384
encoder_embedding_dim: 384
image_embedding_dim: 384
num_heads: 4
num_layers: 8
speed_bins: 512
gas_pedal_bins: 255
brake_pedal_bins: 165
steering_angle_bins: 961

# Artifact to load weights from (optional, omit for random weights)
artifact: yaak/cargpt/model-y93ejvgg:v9

args:
  - ${input}

onnx_path: /home/harsimrat/workspace/jetson/rmind/outputs/2026-02-09/15-27-20/ControlTransformer_cache.onnx
