---
defaults:
  - /dataset/yaak/tegel_val@predict.dataset
  - _self_

_target_: rmind.datamodules.GenericDataModule
predict:
  _target_: rbyte.dataloader.TorchDataNodeDataLoader
  batch_size: 16
  shuffle: false
  collate_fn:
    _target_: rbyte.types.Batch.to_dict
    _partial_: true

  num_workers: 2
  pin_memory: true
  method: thread
